body{
	background-color: #f0ffff;
	color: black;
	font-family: cursive;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

#showcase{
	background-image: url("../images/showcase.jpeg");
	min-height: 200px;
	margin-bottom: 30px;
	text-align: center;
	margin-top: 0px;
}
.container{
	font-size: 25px;
	font-family: cursive;
	color: #f0ffff;
	padding-top: 35px;
}
#content{
	float: left;
	width: 95%;
	box-sizing: border-box;
	font-family: cursive;
}
.main-block{
	width: 95%;
	margin: auto;
	overflow: hidden;
	color: black;
	padding-left: 60px;
	padding-right: 40px;
}
.author1{
	text-align: left;
	width: 33.3%;
	float: left;
	border:  1px  ;
	padding: 10px;
	box-sizing:border-box;
}
.author2{
	text-align: left;
	width: 33.3%;
	float: left;
	border:  1px ;
	padding: 10px;
	box-sizing:border-box;
}
.author3{
	text-align: left;
	width: 33.3%;
	float: left;
	border:  1px ;
	padding: 10px;
	box-sizing:border-box;
}
#main-footer{
	color: black;
	text-align: center;
    padding: 20px;
    margin-top: 40px;
}
img{
	border-radius: 20%;
}